<a href="https://colab.research.google.com/github/Eisawi7/date-mining-1/blob/main/python_tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

simple variable

In [ ]:
#Basic arithmetic operation
a=10
print("this is a variable name a:",a)

this is a variable name a: 10

In [ ]:
b=5
print("this is avaiable name a:",b)

this is avaiable name a: 5

In [ ]:
#Basic arithmetic operation
a = 10
b = 5
sum = a+b
difference=a-b
product=a*b
division=a/b
print("Sum:",sum)
print("Differnce:",difference)
print("Product:",product)
print("Division:",division)

Sum: 15
Differnce: 5
Product: 50
Division: 2.0

In [ ]:
print(f"The sum of the two number{a},{b} is {sum}")

The sum of the two number10,5 is 15

In [ ]:
x = 13//2
print(x)
y = 13%2
print(y)

6
1

In [ ]:
# Boolean variable and comparisons
x = 10
y = 5

is_greater = x>y
is_equal = x==y
is_not_equal = x!=y
print("Is x gteater than y?", is_greater)
print("is x eqaualy?", is_equal)
print("is x not equal to y?", is_not_equal)

# Variable assignment
name = "Essa"
age = 31
is_prfessor = True
print(f"{name}'s age is {age}. He is a professor is {is_prfessor}")

Is x gteater than y? True
is x eqaualy? False
is x not equal to y? True
Essa's age is 31. He is a professor is True

In [ ]:
# Defining and using a function
def great(name):
 return "Hello," + name +"!"
 my_name = input("Enter your name:")
 great("my_name")
 great("Essa")

In [ ]:
def add_numbers(a,b):
 return a+b

a = int(input("Enter first number:"))
b = int(input("Enter secound number"))
addition_value = add_numbers(a,b)
print(f"The result of aaddition for{a},{b} is {addition_value}")

Enter first number:2
Enter secound number3
The result of aaddition for2,3 is 5

In [ ]:
def add_numbers(a,b):
 return a+b

a = eval(input("Enter first number:"))
b = eval(input("Enter secound number:"))
addition_value = add_numbers(a,b)
print(f"The result of aaddition for{a},{b} is {addition_value}")

Enter first number:-4.5
Enter secound number:10
The result of aaddition for-4.5,10 is 5.5

In [ ]:
#working with strings
message = "hello.word"
length = len(message)
uppercase = message.upper()
substring =message[7:12]

print("Original message:", message)
print("The lenth is:", length)
print('Upper case:', uppercase)
print('part of the message is:', substring)

Original message: hello.word
The lenth is: 10
Upper case: HELLO.WORD
part of the message is: ord

In [ ]:
# Basic input example
last = input('Enter the last name, last name:')
First= input('Enter the last name, First name:')
print(f"{last},{First}")

Enter the last name, last name:Alrashdi
Enter the last name, First name:Essa
Alrashdi,Essa

In [ ]:
# Numeric input example
age = int(input("Enter your age:"))
print("You will be", age +1, "years old next year.")

Enter your age:31
You will be 32 years old next year.

In [ ]:
# string concatenation with input
city = input("Enter your city:")
country =input('Enter your country:')
location = city + "," + country
print("You are in:", location)

Enter your city:Hagl
Enter your country:KSA
You are in: Hagl,KSA

In [ ]:
# Multiple inputs
name, age = input("Enter your name and age sperated by space:").split()
print(f"my name is {name} and my age is {age}")